@keyframes appearance {
  0% {
    height: 0px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
  25% {
    height: 14px;
    opacity: 0.25;
    visibility: visible;
    position: static;
  }
  50%{
    height: 28px;
    opacity: 0.5;
    visibility: visible;
    position: static;
  }
  75% {
    height: 42px;
    opacity: 0.75;
    visibility: visible;
    position: static;
  }
  100% {
    height: 56px;
    opacity: 1;
    visibility: visible;
    position: static;
  }
}

.header__container_type_open {
  display: none;
}

@media screen and (max-width: 690px) {
  .header__container_type_open {
    display: flex;
    opacity: 1;
    animation: appearance 1s linear 0s 1 normal forwards;
    height: 56px;
  }
}