.header__link {
  margin: 0;
  padding: 12px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (max-width: 690px) {
  .header__link {
    margin-right: 27px;
    font-size: 14px;
    line-height: 1.2;
  }
}