.popup__heading_type_info-tooltip {
  margin: 0;
  text-align: center;
  max-width: 358px;
}

@media screen and (max-width: 690px) {
  .popup__heading_type_info-tooltip {
  font-size: 20px;
  max-width: 244px;
  }
}