/*normalize*/
@import url(./vendor/normalize.css);

@import url(./vendor/fonts.css);

/*body*/
@import url(./blocks/body/body.css);

/*button*/
@import url(./blocks/button/button.css);

/*page*/
@import url(./blocks/page/page.css);

/*main*/
@import url(./blocks/main/main.css);

/*padding-side*/
@import url(./blocks/padding-side/padding-side.css);

/*header*/
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

/*profile*/
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__data/profile__data.css);
@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/add-button/profile__add-button.css);
@import url(./blocks/profile/__avatar-overlay/profile__avatar-overlay.css);

/*popup*/
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__heading/popup__heading.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_type_card/popup_type_card.css);
@import url(./blocks/popup/__container/_type_card/popup__container_type_card.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__container/_type_delete-card/popup__container_type_delete-card.css);
@import url(./blocks/popup/__container/_type_avatar/popup__container_type_avatar.css);

@import url(./blocks/popup/__field/_type_error/popup__field_type_error.css);
@import url(./blocks/popup/__field-error/popup__field-error.css);
@import url(./blocks/popup/__field-error/_active/popup__field-error_active.css);
@import url(./blocks/popup/__save-button/_disabled/popup__save-button_disabled.css);
@import url(./blocks/popup/__save-button/_type_delete-card/popup__save-button_type_delete-card.css);

/*elements*/
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);

/*element*/
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__description/element__description.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like-container/element__like-container.css);
@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);
@import url(./blocks/element/__like-button/_type_active/element__like-button_type_active.css);
@import url(./blocks/element/__trash-button/element__trash-button.css);

@import url(./blocks/element/__trash-button/_type_hidden/element__trash-button_type_hidden.css);

/*footer*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);