.save-button {
  padding: 0;
  width: 100%;
  min-height: 50px;
  text-align: center;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  border: none;
  opacity: 1;
  transition: opacity 0.5s linear;
  cursor: pointer;
}

.save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 690px) {
  .save-button {
    font-size: 14px;
    line-height: 1.21;
    min-height: 46px;
  }
}