.header__button-open {
  margin: 0 30px 0 0;
  padding: 6px 0 0;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

@media screen and (min-width: 690px) {
  .header__button-open {
    display: none;
  }
}